    <footer class="footer">
    <div class="footer-container">

      <div class="footer-section">
        <h2 class="logo"><span>Burger</span>Point</h2>
      </div>

      <div class="footer-section">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

    
      <div class="footer-section">
        <h3>Address</h3>
        <ul class="contact-info">
          <li>
            <i class="ri-map-pin-2-fill location-icon"></i> 
            <div>
              <strong>Location</strong>
              <p>990 Sterling Bank Boulevard<br>
              Opp Tuwo Place, Behind Fraser Suite,<br>
              Central Area, Abuja</p>
            </div>
          </li>
          <li>
            <i class="ri-phone-fill phone-icon"></i> 
            <span>09099125608</span>
          </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-x-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
        </div>
      </div>

    </div>
  </footer>