    <header class="Header">
        <div class="Header_logo">
            <h1 class="Header_title"><span>Burger</span>Point</h1>
        </div>
 
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="#HOME">Home</a></li>
                <li class="nav_item"><a href="#MENU">Menu</a></li>
                <li class="nav_item"><a href="#ABOUT">About us</a></li>
                <li class="nav_item"><a href="#RESERVATION">Reservation</a></li>
            </ul>
        </nav>

        <div class="Header_btn">
            <button class="btn primary-btn" ><a href="login.html">Sign In</a></button>
            <button class="btn outline-btn">Get the App <i class="ri-arrow-right-up-line"></i></button>
        </div>

    </header>