
<!Doctype html>
<html>
    <head>     
    </head>
    <body>
        <header>
        </header>
        <main>
            <h1 style="text-align:center">Welcome</h1>
            <p>Check Out: <a href="https://dev.to/ugorji_simon/how-to-use-embedded-javascript-ejs-as-a-template-engine-in-nodejs-full-explanation-7m5" target="_blank">Tutorial</a></p>
        </main>
    </body>
    <footer>
    </footer>
</html>